# 1. Скомпилированные бинарники (они весят много и нужны только приложению, а не нам)
shortener
*.exe

# 2. Папки с локальными данными базы (которые мы пробросили через volumes)
# Если ты запушишь папку БД в Git, ты сольешь все данные в интернет!
pgdata/

# 3. Секреты и переменные окружения (пароли от БД, API ключи)
.env

# 4. Настройки IDE и редакторов
.vscode/
.idea/

# 5. Временные файлы Air (Hot Reload)
tmp/